# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

AudioReadTest1/DerivedData
LaserArcade/DerivedData
AudioReadTest2/DerivedData
